THETA_BASE_URL=http://127.0.0.1:25503/v3
THETA_DATA_DIR=data
THETA_DEFAULT_SYMBOL=SPY
THETA_REQUEST_TIMEOUT_SECONDS=120
THETA_MAX_RETRIES=12
THETA_RETRY_SLEEP_SECONDS=5
THETA_RISK_FREE_RATES_PATH=data/reference_rates/DGS1.parquet
THETA_TIINGO_USA_ROOT=
THETA_M1_OPTIONS_DIR=data/options/m1
THETA_M1_WITH_GREEKS_DIR=data/options/m1/with_greeks
THETA_STOCK_M1_DIR=data/stocks/m1
THETA_STOCK_TICKS_QUOTES_DIR=data/stocks/ticks_quotes
THETA_STOCK_TICKS_TRADES_DIR=data/stocks/ticks_trades
THETA_STRATEGIES_DIR=data/strategies
